@using MedicalAPI.Domain.Entities
@model Appointment

<h1>Create Appointment</h1>
<hr />

<form asp-action="Create" method="post">
    <div class="form-group mb-3">
        <label asp-for="DoctorId" class="control-label">Doctor ID</label>
        <input asp-for="DoctorId" type="number" class="form-control" />
        <span asp-validation-for="DoctorId" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
    <label asp-for="PatientId" class="control-label">Select Patient</label>
    <select asp-for="PatientId" class="form-control" asp-items="ViewBag.Patients"></select>
    <span asp-validation-for="PatientId" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="AppointmentTitle" class="control-label">Appointment Title</label>
        <input asp-for="AppointmentTitle" type="text" class="form-control" />
        <span asp-validation-for="AppointmentTitle" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="AppointmentDescription" class="control-label">Description</label>
        <textarea asp-for="AppointmentDescription" class="form-control"></textarea>
        <span asp-validation-for="AppointmentDescription" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="VisitDate" class="control-label">Visit Date</label>
        <input asp-for="VisitDate" type="datetime-local" class="form-control" />
        <span asp-validation-for="VisitDate" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Create Appointment</button>
</form>
