@using MedicalAPI.Application.MedicalAPI.Commands.CreateAppointment;
@model CreateAppointmentCommand;
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

<h1>Umów wizytę</h1>
<hr />
<form asp-action="Create" method="post" style="max-width:500px">
    <div class="form-group mb-3">
        <label asp-for="DoctorId" class="control-label">Wybierz lekarza</label>
        <select asp-for="DoctorId" class="form-control" asp-items="ViewBag.Doctors"></select>
        <span asp-validation-for="DoctorId" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="AppointmentTitle" class="control-label">Tytuł wizyty</label>
        <input asp-for="AppointmentTitle" type="text" class="form-control" id="AppointmentTitle" />
        <span asp-validation-for="AppointmentTitle" class="text-danger"></span>
        <div class="text-danger" id="titleWarning" style="display: none;">Tytuł wizyty musi mieć co najmniej 5 znaków.</div>
    </div>

    <div class="form-group mb-3">
        <label asp-for="AppointmentDescription" class="control-label">Szczegóły wizyty</label>
        <textarea asp-for="AppointmentDescription" class="form-control" id="AppointmentDescription"></textarea>
        <span asp-validation-for="AppointmentDescription" class="text-danger"></span>
        <div class="text-danger" id="descriptionWarning" style="display: none;">Szczegóły wizyty muszą mieć co najmniej 5 znaków.</div>
    </div>

    <div class="form-group mb-3">
        <label asp-for="VisitDate" class="control-label">Data wizyty</label>
        <input asp-for="VisitDate" id="visitDate" class="form-control">
    </div>

    <br />
    <button type="submit" class="btn btn-primary">Umów wizytę</button>
</form>

<script>
    flatpickr("#visitDate", {
        enableTime: true,
        noCalendar: false,
        time_24hr: true,
        dateFormat: "Y-m-d H:i",
        minTime: "08:00",
        maxTime: "16:30",
        minuteIncrement: 30
    });

    document.getElementById("AppointmentTitle").addEventListener("input", function () {
        document.getElementById("titleWarning").style.display = this.value.length < 5 ? "block" : "none";
    });

    document.getElementById("AppointmentDescription").addEventListener("input", function () {
        document.getElementById("descriptionWarning").style.display = this.value.length < 5 ? "block" : "none";
    });
</script>
