@model MedicalAPI.Application.MedicalDto.AppointmentDto

@{
    ViewData["Title"] = "Szczegóły wizyty";
}



<div class="container mt-5">
    <div class="card shadow-lg">
        <div class="card-header bg-primary text-white">
            <h3 class="mb-0">Szczegóły Wizyty</h3>
        </div>
        <div class="card-body">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th class="bg-light">Tytuł wizyty</th>
                        <td>@Model.AppointmentTitle</td>
                    </tr>
                    <tr>
                        <th class="bg-light">Opis</th>
                        <td>@Model.AppointmentDescription</td>
                    </tr>
                    @* <tr>
                        <th class="bg-light">Lekarz</th>
                        <td>@Model.</td>
                    </tr> *@
                    <tr>
                        <th class="bg-light">Data wizyty</th>
                        <td>@Model.VisitDate.ToString("dd-MM-yyyy HH:mm")</td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
        <div class="card-footer text-center">
            <a asp-action="Edit" asp-route-id="@Model?.AppointmentId" class="btn btn-warning">
                <i class="bi bi-pencil-square"></i> Edytuj
            </a>
            <a asp-action="Index" class="btn btn-secondary">
                <i class="bi bi-arrow-left"></i> Powrót do listy
            </a>
        </div>
    </div>
</div>

