@using MedicalAPI.Application.MedicalAPI.Commands.EditAppointment;
@model EditAppointmentCommand

@{
    ViewData["Title"] = "Edytuj wizytę";
}

<h2>Edytuj wizytę</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="AppointmentId" />

    <div class="mb-3">
        <label asp-for="VisitDate" class="form-label">Data wizyty</label>
        <input asp-for="VisitDate" type="datetime-local" class="form-control" />
        <span asp-validation-for="VisitDate" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="AppointmentDescription" class="form-label">Szczegóły wizyty</label>
        <textarea asp-for="AppointmentDescription" class="form-control"></textarea>
        <span asp-validation-for="AppointmentDescription" class="text-danger"></span>
        <div class="text-danger" id="descriptionWarning" style="display: none;">Szczegóły wizyty muszą mieć co najmniej 5 znaków.</div>
    </div>

    @* <div class="mb-3">
        <label asp-for="DoctorName" class="form-label">Lekarz</label>
        <input asp-for="DoctorName" class="form-control" readonly />
    </div> *@

    <button type="submit" class="btn btn-primary">Zapisz zmiany</button>
    <a asp-action="Index" class="btn btn-secondary">Anuluj</a>
</form>
<script>
    document.getElementById("AppointmentDescription").addEventListener("input", function () {
        document.getElementById("descriptionWarning").style.display = this.value.length < 5 ? "block" : "none";
    });
</script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
