@model IEnumerable<MedicalAPI.Application.MedicalDto.AppointmentDto>

@{
    ViewData["Title"] = "Wizyty";
}

<h1>Wizyty</h1>

<p>
    <a asp-action="Create">Dodaj kolejną wizytę</a>
</p>
<div class="row">
@foreach (var item in Model) {
        <div class="card m-3" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">@item.AppointmentTitle</h5>
                <p class="card-text">@item.VisitDate</p>
                

            </div>
        </div>

}
  </div>
