@model IEnumerable<MedicalAPI.Domain.Entities.Appointment>

@{
    ViewData["Title"] = "Wizyty";
}

<h1>Wizyty</h1>

<p>
    <a asp-action="Create">Dodaj kolejną wizytę</a>
</p>
<div class="row">
@foreach (var item in Model) {
        <div class="card m-3" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">@item.AppointmentTitle</h5>
                <p class="card-text">@item.VisitDate</p>

                <a asp-action="Details" asp-route-id="@item.AppointmentId" class="btn btn-info">Szczegóły</a>
                <a asp-action="Delete" asp-route-id="@item.AppointmentId "class="btn btn-danger" onclick="return confirm('Czy na pewno chcesz usunąć wizytę?');">Usuń</a>

            </div>
        </div>

}
  </div>
